<div id="bg-logo" class="container-fluid">

    <div class="row">

      <div class="col-md-6 col-sm-6">
        <h1 class="col-md-6 col-sm-6 logo">Loja PvP</h1>
        <h2 class="col-md-6 col-sm-6">Novo site <span>em breve</span></h2>
      </div>

      <div id="wrap-menu" class="col-md-6 col-sm-6 omega">
        <% if current_user %>
          <div id="menu-teaser" class="logged">
            <p>Boas vindas <span><%= current_user.nick %></span>,<br>ficamos honrados com seu registro. <br>Em breve, você poderar ver seu ELO pelo nosso site.</p>
          </div>
        <% else %>
          <nav id="menu-teaser">
            <ul>
              <li>
                <%= link_to(new_user_registration_path, class: "login animado-02-in-out") do %>
                  <i id="icon"></i>Registre-se
                <% end %>
              </li>
              <li>
                <%= link_to(new_user_session_path, class: "registre animado-02-in-out") do %>
                  <i id="icon"></i>Login
                <% end %>
              </li>
            </ul>
          </nav>
        <% end %>

      </div>

    </div>

</div>